.parent {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  padding: 10rem;
}

body{
  background-color: #F8F8FF;
}

ul{
  list-style: none;
}

.menu{
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.addTask{
  display: flex;
  gap: 5px;
}

.hideAddTask{
  visibility: hidden;
}

.menu input {
  background: #fff;
border: 1px solid var(--light);
border-radius: 1em;
-webkit-border-radius: 1em;
-moz-border-radius: 1em;
-ms-border-radius: 1em;
-o-border-radius: 1em;
box-shadow: 0 2px 24px #0003;
  font-size: 1.3rem;
  padding: 1em;
  width: 90%;
  outline: none;
  
}

.menu button{
    background: #646FF0;
    color: white;
  border: 1px solid var(--light);
  border-radius: 1em;
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  -ms-border-radius: 1em;
  -o-border-radius: 1em;
  box-shadow: 0 2px 24px #0003;
    font-size: 1.3rem;
    padding: 1em;
    width: 50%;
    outline: none;
    cursor: pointer;
}

.menu button:hover{
  opacity: 0.9;
}

.taskContainer{
  width: 100%;
  margin-top: 20px;
  border-radius: 16px;
}

.hideCheckBox{
  visibility: hidden;
}

.tasks{
  background-color: #ECEDF6;
  display: flex;
  padding: 2rem;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 16px;
}

.task{
  background-color: white;
  width: 100%;
  border-radius: 16px;
  padding: 10px;
  height: 50px;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin-top: 20px;
  font-size: 1.5rem;
}

.trash, .pencil{
  cursor: pointer;
}

.icons{
  display: flex;
  gap: 15px;
}

.selector select{
  background: #646FF0;
    color: white;
  border: 1px solid var(--light);
  border-radius: 1em;
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  -ms-border-radius: 1em;
  -o-border-radius: 1em;
  box-shadow: 0 2px 24px #0003;
    font-size: 1.3rem;
    padding: 1em;
    width: 100%;
    outline: none;
  text-align: center;
}

.taskCompleted{
    text-decoration: line-through;
    text-decoration-thickness: 2px;
}

/* Estilos para pantallas de tamaño pequeño */
@media (max-width: 767px) {
  .parent {
    padding: 1rem;
  }

  .menu {
    flex-direction: column;
    gap: 10px;
  }

  .menu input,
  .menu button {
    height: 24px;
  }

  .tasks {
    padding: 1rem;
  }

  .task {
    height: 40px;
    margin-top: 10px;
    font-size: 0.9rem;
  }

  .selector select {
    height: 30px;
    width: 100px;
  }
}

/* Estilos para pantallas de tamaño mediano */
@media (min-width: 768px) and (max-width: 1023px) {
  .parent {
    padding: 2rem;
  }

  .menu input,
  .menu button {
    height: 28px;
  }

  .tasks {
    padding: 1.5rem;
  }

  .task {
    height: 45px;
    margin-top: 15px;
    font-size: 1rem;
  }

  .selector select {
    height: 32px;
    width: 110px;
  }
}
